<!DOCTYPE html>
<html>
<head>
  <title>Codegrate</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>

  <!-- for open flash chart 2 -->
  <script type="text/javascript" src="/javascripts/swfobject.js"></script>

</head>
<body>

<%= link_to "Dashboard", :root %> 
- <%= link_to "Manage Repositories", repositories_path %>
- <%= link_to "Authors", authors_path %>
- <%= link_to "Scores", scores_path %> 
<hr/>

<%= yield %>
<br/><br/><br/>
<hr/>
Copyright (c) 2010 Gary S. Weaver, released under the MIT license.

</body>
</html>
